@{
    ViewData["Title"] = "Hoteles La Prueba Tecnica del Descanso";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Hoteles La Prueba Tecnica del Descanso</h1>
    <p>Aqui podra encontrar excelentes ofertas en estadia para sus proximas vaciones</p>

    <div class="card-group">
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Barranquilla</h5>
    <p class="card-text">habitaciones disponibles: 30 estándar y 3 premium</p>
    <p class="card-text">Cupo máximo por habitación: 4 personas</p>
    <p><b>Selecciona temporada: </b></p>
    <a href="#" class="btn btn-primary">Alta</a>
    <a href="#" class="btn btn-primary">Baja</a>
<br/>
    <ul class="list-group">
  <li class="list-group-item">Estandar: $80.000</li>
  <li class="list-group-item">Premium: $120.000</li>
  <li class="list-group-item">VIP: $200.000</li>  
</ul>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cali</h5>
    <p class="card-text">habitaciones disponibles: 20 premium y 2 VIP</p>
    <p class="card-text">Cupo máximo por habitación: 6 personas</p>
    <p><b>Selecciona temporada: </b></p>
    <a href="#" class="btn btn-primary">Alta</a>
    <a href="#" class="btn btn-primary">Baja</a>
<br/>
    <ul class="list-group">
  <li class="list-group-item">Estandar: $80.000</li>
  <li class="list-group-item">Premium: $120.000</li>
  <li class="list-group-item">VIP: $200.000</li>  
</ul>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cartagena</h5>
    <p class="card-text">habitaciones disponibles: 10 estándar y 1 premium</p>
    <p class="card-text">Cupo máximo por habitación: 8 personas</p>
    <p><b>Selecciona temporada: </b></p>
    <a href="#" class="btn btn-primary">Alta</a>
    <a href="#" class="btn btn-primary">Baja</a>
<br/>
    <ul class="list-group">
  <li class="list-group-item">Estandar: $80.000</li>
  <li class="list-group-item">Premium: $120.000</li>
  <li class="list-group-item">VIP: $200.000</li>  
</ul>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Bogota</h5>
    <p class="card-text">habitaciones disponibles: 20 estándar, 20 premium y 2 VIP</p>
    <p class="card-text">Cupo máximo por habitación: 6 personas</p>
    <p><b>Selecciona temporada: </b></p>
    <a href="#" class="btn btn-primary">Alta</a>
    <a href="#" class="btn btn-primary">Baja</a>
<br/>
    <ul class="list-group">
  <li class="list-group-item">Estandar: $80.000</li>
  <li class="list-group-item">Premium: $120.000</li>
  <li class="list-group-item">VIP: $200.000</li>  
</ul>
    
  </div>
</div>

</div>
